@page "/fetchdata"
@inject ApiService ApiService

<h1>Dados da API</h1>

@if (isLoading)
{
    <p>Carregando...</p>
}
else if (ApiData == null)
{
    <p>Ocorreu um erro ao carregar os dados.</p>
}
else
{   
    <a href="/Create">Teste</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Site</th>
                <th>Segmento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ApiData)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Id.Oid</td>
                    <td>
                        @if (item.Segmentos != null) 
                        {
                            @foreach (var segmento in item.Segmentos)
                            {
                                <span>@segmento.Nome</span>
                            }
                        }
                    </td>
                    <td>
                        <ul>
                            <li>editar</li>
                            <li><a href="" @onclick="async () => await DeleteData(item.Id.Oid)">excluir</a href=""></li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (teste)
    {
        <p>deu certo</p>
        
    } 
    @if (error) 
    {
        <p>Deu erro</p>
    }
}

@code {    
    public List<Data> ApiData { get; set; }
    private bool isLoading;
    private bool teste = false;
    private bool error = false;
    private string value;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        ApiData = await ApiService.GetDataAsync();
        isLoading = false;
    }

    private async Task DeleteData(string oid)
    {
        var response = await ApiService.DeleteDataAsync(oid);
        var itemToRemove = ApiData.FirstOrDefault(item => oid == item.Id.Oid);
        if (itemToRemove != null) {
            ApiData.Remove(itemToRemove);
            await OnInitializedAsync();
        }
        else {
            error = true;
        }
    }

    private async Task FazerTesteAsync(string id)
    {
        await Task.Delay(1000);
        if (id != null)
        {
            teste = true;
        } else {
            error = true;
        }

    }
}
