@page "/"
@inject NavigationManager Navigation
@inject ApiService ApiService

<h1>Dados da API</h1>

@if (isLoading)
{
    <p>Carregando...</p>
}
else if (ApiData == null)
{
    <p>Ocorreu um erro ao carregar os dados.</p>
}
else
{   
    <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateTo("/create"))">
        <i class="bi bi-plus"></i> Adicionar
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Site</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ApiData)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Site</td>
                    <td>
                        <ul class="d-flex flex-row list-inline">
                            <li>
                                <a href="/update/@item.Id.Oid">
                                    <i class="material-icons">create</i>
                                </a>
                            </li>
                            <li>
                                <a href="/view/@item.Id.Oid">
                                    <i class="material-icons">visibility</i>
                                </a>
                            </li>
                            <li>
                                <a href="" @onclick="async () => await DeleteData(item.Id.Oid)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code 
{    
    
    public List<Data>? ApiData { get; set; }
  
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        ApiData = await ApiService.GetDataAsync();
        isLoading = false;
    }

    private async Task DeleteData(string oid)
    {
        var response = await ApiService.DeleteDataAsync(oid);
        var itemToRemove = ApiData.FirstOrDefault(item => oid == item.Id.Oid);
        if (itemToRemove != null) {
            ApiData.Remove(itemToRemove);
            await OnInitializedAsync();
        }
        else {
            Console.WriteLine("Erro");
        }
    }
}

<style>
    .list-inline > li {
        display: inline-block;
        margin-right: 10px;
    }
</style>